$primaryMain: #4578AD;
$primaryDark: #345A83;
$primaryLight: #7CA2CB;
$secondaryMain: #fae398;
$secondaryLight: #fcf0c9;
$greyLight: #F3F3F3;
$greyMain: #d9d9d9;
$greyDark: #898989;
$gutter: 1rem;
$background-gradient: linear-gradient(to bottom left, $primaryLight, $primaryMain, $primaryDark);