@import '../../styles/variables';

.dashboard {

  &--modal {

    &-select {
      width: 100%;
      min-width: 200px !important;
      margin-top: calc($gutter * 2) !important;
    }

    & .MuiDialog-paper {
      height: 40%;
      width: 50%;
      padding: $gutter;

      & .MuiBox-root {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}