@import '../../styles/variables';

#root .product {
  &--container {
    padding: $gutter;
    display: flex !important;
    flex-direction: column;
    height: 100%;
  }

  &--add-btn {
    align-self: flex-end;
    min-width: 200px;
    border-radius: 9999px;
  }

  &--table-container {
    margin-top: calc($gutter * 2);
    height: 100%;
    display: flex;
    flex-direction: column;

  }
  
  &--table {
    flex: 1;
  }

}

.product {
  &--modal {

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }

    &-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
    }
  
    & .MuiDialog-paper {
      height: 80%;
      min-width: 80%;
      padding: $gutter;
      display: flex;
      justify-content: center;
  
      & .MuiBox-root {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  
  }
}