@import '../../styles/variables';

#root .header {
  background: linear-gradient(22.5deg, $primary-color, $primary-color-light);

  &--toolbar {
    display: flex;
  }

  &--logo {
    padding: 8px 0;
    flex: 1;
    display: flex;
    justify-content: center;

    &-pic {
      margin-right: auto;
      width: 40%;
    }
  }

  &--btns {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  &--logout-btn {
    margin-top: 0;
    margin-left: auto;
  }

  &--tabs {
    flex: 1;
    display: flex;
    justify-content: center;

    & a.MuiButtonBase-root:not(.Mui-selected) {
      color: white;
    }
  }
}